<html>
  <head>
    <style>
      .header {
        font-size: 10px;
        color: #555;
        text-align: right;
        padding: 5px 20px;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    {{#each $pdf.pages}}
      {{#if @index}}
        <div style="page-break-before: always;"></div>
      {{/if}}
      {{#with (lookup ../$pdf.pages @index)}}
        {{#if modulo}}
          <div class="header">{{modulo}}{{#if seccion}} - {{seccion}}{{/if}}</div>
        {{/if}}
      {{/with}}
    {{/each}}
  </body>
</html>
