# jsreport internal data
data/temp
data/reporters
data/extensions
data/snapshots
data/logs
data/fs.journal
data/fs.version
data/profiles/
data/storage/

# Node + Docker usuals
node_modules/
.env
.DS_Store

# OS files
Thumbs.db
.idea/
