# jsreport internal data
data/temp/
data/reporters/
data/extensions/
data/snapshots/
data/logs/
data/fs.*
data/profiles/
data/storage/

# Renders de prueba
*.pdf

# Node + IDE
node_modules/
.env
.DS_Store
Thumbs.db
.idea/
